body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.background-container {
    display: flex;
}

#main-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flying-banana {
    background-image: url('./bananas.svg');
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 100;
}

.svg-immediate-container img {
    width: 200px;
}

.svg-immediate-container {
    text-align: center;
}

#viewable-area {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: 75px;
    scroll-behavior: smooth;
}

.slide-svg-container {
    width: 100%;
    height: 100%;
}

.slide-svg-container svg {
    position: absolute;
    margin-left: 50px;
    bottom: -10px;
}

.y-axis path {
    display: none;
}

.slide-container {
    display: flex;
    height: 500px;
    width: 100%;
}

.slide-text-area {
    width: 292.5px;
    height: auto;
    font-size: 30px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.banana-text-area {
    width: 400px;
}

.slide-header {
    font-size: 30px;
}

.slide-body-text {
    font-size: 20px;
}

.serving-size-div {
    font-size: 14px;
    margin-top: 15px;
}

/* Banana */
.slide-svg-0-rect {
    fill: #FEC800;
}

/* Potato */
.slide-svg-1-rect {
    fill: #A7883A;
}

/* Butter */
.slide-svg-2-rect {
    fill: #FFE44C;
}

/* Avocado */
.slide-svg-3-rect {
    fill: #568203;
}

/* Beef liver */
.slide-svg-4-rect {
    fill: #B71511;
}

/* Cod liver */
.slide-svg-5-rect {
    fill: #E6A888;
}

/* Egg */
.slide-svg-6-rect {
    fill: #FFF5C2;
}

/* Herring */
.slide-svg-7-rect {
    fill: #E2C1B2;
}

/* Tuna */
.slide-svg-8-rect {
    fill: #EF6285;
}

/* Broccoli */
.slide-svg-9-rect {
    fill: #84BB4C;
}

/* Green peas */
.slide-svg-10-rect {
    fill: #3BAD46;
}

/* Sweet red pepper */
.slide-svg-11-rect {
    fill: #E01200;
}

/* Oysters */
.slide-svg-12-rect {
    fill: #D3CFA0;
}

/* Spinach */
.slide-svg-13-rect {
    fill: #4D8B00;
}

/* Quinoa */
.slide-svg-14-rect {
    fill: #F1D78B;
}

/* Chocolate */
.slide-svg-15-rect {
    fill: #663A00;
}

/* Strawberries */
.slide-svg-16-rect {
    fill: #DD1334;
}

/* Navy beans */
.slide-svg-17-rect {
    fill: #B76120;
}

.chart-rect:hover {
    animation-name: animateColor;
    animation-duration: 0.5s;
}

@keyframes animateColor {
    from {fill: attr(fill) }
    to {fill: white}
}

.hidden {
    display: none;
}

.opaque {
    opacity: 0%;
    transition: all 0.5s;
}

.chart-rect {
    animation-duration: 0.5s;
    animation-name: animateHeight;
}

@keyframes animateHeight {
    from {y: 450 }
    to {y: attr(y)}
    from {height: 0px }
    to {height: attr(height)}
}

.nav-column {
    position: sticky;
    top: 0px;
    align-self: center;
}

.nav-li {
    list-style: none;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 100%;
    margin-bottom: 10px;    
}

#nav-li-2:after {
    content: "Butter";
    left: -10px;
    position: absolute;
    top: 34px;
    opacity: 0%;
}

#nav-li-2:hover:after {
    opacity: 100%;
}

#nav-li-1:after {
    content: "Potato";
    left: -10px;
    position: absolute;
    top: 14px;
    opacity: 0%;
}

#nav-li-1:hover:after {
    opacity: 100%;
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}