$banana-color: #FEC800;
$potato-color: #A7883A;
$butter-color: #FFE44C;
$avocado-color: #568203;
$beef-liver-color: #B71511;
$cod-liver-color: #E6A888;
$egg-color: #FFF5C2;
$herring-color: #E2C1B2;
$tuna-color: #EF6285;
$broccoli-color: #84BB4C;
$peas-color: #3BAD46;
$pepper-color: #E01200;
$oyster-color: #D3CFA0;
$spinach-color: #4D8B00;
$quinoa-color: #F1D78B;
$chocolate-color: #663A00;
$strawberry-color: #DD1334;
$beans-color: #B76120;


body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.background-container {
    display: flex;
}

#main-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flying-banana {
    background-image: url('./bananas.svg');
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 100;
}

.svg-immediate-container img {
    width: 200px;
    height: 200px;
}

#cod-liver-img {
    height: auto;
}

.svg-immediate-container {
    text-align: center;
}

#viewable-area {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    scroll-behavior: smooth;
}

.slide-svg-container {
    width: 100%;
    height: 100%;
}

.slide-svg-container svg {
    position: absolute;
    margin-left: 25px;
    bottom: -10px;
    top: 45px;
}

.y-axis path {
    display: none;
}

.slide-container {
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 125px;
}

.slide-text-area {
    width: 292.5px;
    height: auto;
    font-size: 30px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.banana-text-area {
    width: 400px;
}

.slide-header {
    font-size: 30px;
}

.slide-body-text {
    font-size: 20px;
}

.serving-size-div {
    font-size: 14px;
    margin-top: 15px;
}

/* Banana */
.slide-svg-0-rect {
    fill: $banana-color;
}

/* Potato */
.slide-svg-1-rect {
    fill: $potato-color;
}

/* Butter */
.slide-svg-2-rect {
    fill: $butter-color;
}

/* Avocado */
.slide-svg-3-rect {
    fill: $avocado-color;
}

/* Beef liver */
.slide-svg-4-rect {
    fill: $beef-liver-color;
}

/* Cod liver */
.slide-svg-5-rect {
    fill: $cod-liver-color;
}

/* Egg */
.slide-svg-6-rect {
    fill: $egg-color;
}

/* Herring */
.slide-svg-7-rect {
    fill: $herring-color;
}

/* Tuna */
.slide-svg-8-rect {
    fill: $tuna-color;
}

/* Broccoli */
.slide-svg-9-rect {
    fill: #84BB4C;
}

/* Green peas */
.slide-svg-10-rect {
    fill: #3BAD46;
}

/* Sweet red pepper */
.slide-svg-11-rect {
    fill: #E01200;
}

/* Oysters */
.slide-svg-12-rect {
    fill: #D3CFA0;
}

/* Spinach */
.slide-svg-13-rect {
    fill: #4D8B00;
}

/* Quinoa */
.slide-svg-14-rect {
    fill: #F1D78B;
}

/* Chocolate */
.slide-svg-15-rect {
    fill: #663A00;
}

/* Strawberries */
.slide-svg-16-rect {
    fill: #DD1334;
}

/* Navy beans */
.slide-svg-17-rect {
    fill: #B76120;
}

/* .chart-rect:hover {
    animation-name: animateColor;
    animation-duration: 0.5s;
} */

@keyframes animateColor {
    from {fill: attr(fill) }
    to {fill: white}
}

.hidden {
    display: none;
}

.opaque {
    opacity: 0%;
    transition: all 0.5s;
}

.chart-rect {
    animation-duration: 0.5s;
    animation-name: animateHeight;
}

@keyframes animateHeight {
    from {y: 450 }
    to {y: attr(y)}
    from {height: 0px }
    to {height: attr(height)}
}

.nav-column {
    position: sticky;
    top: 0px;
    align-self: center;
    margin-left: 20px;
    padding-left: 0;
    margin-right: auto;
}

.nav-li {
    list-style: none;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
}

.nav-li:after {
    left: 29px;
    position: absolute;
    opacity: 0%;
    width: auto;
    border-radius: 4px;
    padding: 3px;
    color: white;
}

#nav-li-0:hover {
    background-color: $banana-color;
}

#nav-li-1:hover {
    background-color: $potato-color;
}

#nav-li-2:hover {
    background-color: $butter-color;
}

#nav-li-3:hover {
    background-color: $avocado-color;
}

#nav-li-4:hover {
    background-color: $beef-liver-color;
}

#nav-li-5:hover {
    background-color: $cod-liver-color;
}

#nav-li-6:hover {
    background-color: $egg-color;
}

#nav-li-7:hover {
    background-color: $herring-color;
}

#nav-li-8:hover {
    background-color: $tuna-color;
}

#nav-li-9:hover {
    background-color: $broccoli-color;
}

#nav-li-10:hover {
    background-color: $peas-color;
}

#nav-li-11:hover {
    background-color: $pepper-color;
}

#nav-li-12:hover {
    background-color: $oyster-color;
}

#nav-li-13:hover {
    background-color: $spinach-color;
}

#nav-li-14:hover {
    background-color: $quinoa-color;
}

#nav-li-15:hover {
    background-color: $chocolate-color;
}

#nav-li-16:hover {
    background-color: $strawberry-color;
}

#nav-li-17:hover {
    background-color: $beans-color;
}

#nav-li-0:after {
    content: "Banana";
    top: -2px;
    background-color: $banana-color;
}

#nav-li-1:after {
    content: "Potato";
    top: 26px;
    background-color: $potato-color;
}

#nav-li-2:after {
    content: "Butter";
    top: 56px;
    background-color: $butter-color;
    color: black;
}

#nav-li-3:after {
    content: "Avocado";
    top: 86px;
    background-color: $avocado-color;
}

#nav-li-4:after {
    content: "Beef liver";
    top: 116px;
    background-color: $beef-liver-color;
    width: 63px;
}

#nav-li-5:after {
    content: "Cod liver";
    top: 146px;
    background-color: $cod-liver-color;
    width: 59px;
}

#nav-li-6:after {
    content: "Egg";
    top: 175px;
    background-color: $egg-color;
    color: black;
}

#nav-li-7:after {
    content: "Herring";
    top: 206px;
    background-color: $herring-color;
}

#nav-li-8:after {
    content: "Tuna";
    top: 236px;
    background-color: $tuna-color;
}

#nav-li-9:after {
    content: "Broccoli";
    top: 266px;
    background-color: $broccoli-color;
}

#nav-li-10:after {
    content: "Green peas";
    top: 296px;
    background-color: $peas-color;
    width: 75px;
}

#nav-li-11:after {
    content: "Bell pepper";
    top: 326px;
    background-color: $pepper-color;
    width: 77px;
}

#nav-li-12:after {
    content: "Oysters";
    top: 356px;
    background-color: $oyster-color;
}

#nav-li-13:after {
    content: "Spinach";
    top: 386px;
    background-color: $spinach-color;
}

#nav-li-14:after {
    content: "Quinoa";
    top: 416px;
    background-color: $quinoa-color;
}

#nav-li-15:after {
    content: "Chocolate";
    top: 446px;
    background-color: $chocolate-color;
}

#nav-li-16:after {
    content: "Strawberry";
    top: 476px;
    background-color: $strawberry-color;
}

#nav-li-17:after {
    content: "Beans";
    top: 506px;
    background-color: $beans-color;
}

.nav-li:hover:after {
    opacity: 100%;
}

.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.y-axis-label {
    font-size: 13px;
}