body {
    overflow-y: hidden;
}

#viewable-area {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

#slide-svg-container {
    width: 800px;
    height: 500px;
    text-align: center;
    line-height: 600px;
    transition: all 1s;
}

.slide-svg-container svg {
    position: absolute;
}

.slide-container {
    display: flex;
    height: 500px;
    width: 800px;
}

.slide-text-area {
    width: 250px;
    height: 500px;
    font-size: 30px;
    border-top: 1px solid black;
    /* padding-top: 200px; */
    box-sizing: border-box;
}


.slide-svg-1-rect {
    fill: blue;
}


